.loggedInDetailsMessage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
}
.loggedInDetailsMessage_top {
  display: flex;
  flex-direction: column;
  padding: 30px 70px 0px 50px;
  gap: 50px;
}
.loggedInMessageDetails_bot {
  padding-left: 120px;
}
.loggedInMessageDetails_bot_bot {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  /* background-color: #d0d0d0; */
}
.loggedInMessageDetails_bot_bot1 {
  display: flex;
  align-items: center;
  gap: 20px;

  /* margin-left: 20px; */
}
.loggedInMessageDetails_bot_bot1:hover {
  background-color: #d0d0d0;
  width: 25%;
  border-radius: 20px;
}
.loggedInMessageDetails_bot_bot_img img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-top: 10px;
}
.loggedInMessageDetails_bot_bot_para p:first-of-type {
  font-weight: 600;
  font-size: 12px;
}
.loggedInMessageDetails_bot_bot_para p:last-of-type {
  font-size: 10px;
}
