.DiscoverEvent {
  display: flex;
  /* flex-direction: row; */
  padding: 40px 50px;
  flex-direction: column;
}
.DiscoverEvent_top {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.DiscoverEvent_top_left {
  width: 50%;
}
.DiscoverEvent_top_left p {
  font-size: 48px;
  color: #0f61ff;
  font-weight: 600;
}
.DiscoverEvent_top_left ul {
  margin-top: 20px;
  list-style: none;
  font-size: 18px;
}
.DiscoverEvent_top_right_bot {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.DiscoverEvent_top_right_bot_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.EventDetailsPage_top_right_top_button button {
  color: #fff;
}
.DiscoverEvent_bot {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
}
.DiscoverEvent_bot_top {
  display: flex;
  align-items: center;
  gap: 40px;
}
.DiscoverEvent_bot_top p {
  font-size: 36px;
  color: #0f61ff;
  font-weight: 600;
}
.DiscoverEvent_bot_top a {
  text-decoration: underline;
  font-size: 12px;
  color: #757474;
}
.DiscoverEvent_bot_bot {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  row-gap: 20px;
  margin: 0 auto;
}
